@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --cor-fundo: #F3F5FC;
    --cor-fonte-textarea-esquerda: #0A3871;
    --cor-notificacao-esquerda: #6B7178;
    --cor-fonte-botao-criptografar: #FFFFFF;
	--cor-hover-botao-criptografar: #D8DFE8;
	--cor-fonte-titulo-textarea-direita: #343A40;
	--cor-fonte-subtitulo-textarea-direita: #495057;

    --fonte-primaria: 'Poppins', sans-serif;
}

* {
	margin:0;
	padding:0;
	box-sizing: border-box;
}

.cabecalho {
	width: 100%;
	height: 10%;
}

.cabecalho__logo {
	height: 48px;
	width: 120px;
	margin-top: 40px;
	margin-left: 40px;
}

html, body {
	width: 100%;;
	height: 100%;
	display: flex;
	flex-direction: column;
	background-color: var(--cor-fundo);
	line-height: 1.5;
	font-family: var(--fonte-primaria);
}

.conteudo {
	width: 100%;
	height: 80%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
	gap: 10px;
}

.conteudo__esquerda {
	width: 50%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 100px;
	border-radius: 18px;
	padding: 10px;
}

.conteudo__esquerda__texto {
	width: 98%;
	height: 78%;
}

.entradaTexto {
	width: 100%;
	height: 100%;
	margin: 0% 0% 0% -6%;
	font-size: 32px;
	border: none;
	outline: none;
	resize: none;
	padding: 10px;
	background: none;
	color: var(--cor-fonte-textarea-esquerda);
		
}

.entradaTexto::placeholder {
	color: var(--cor-fonte-textarea-esquerda);
	font-size: 32px;
}

.conteudo__esquerda__informacao {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin: 0% 58% 0% -10%;
	gap: 5px;
	color: var(--cor-notificacao-esquerda);
}

.conteudo__esquerda__informacao__img {
	height: 16px;
	width: 16px;
}

.conteudo__esquerda__botoes {
	width: 100%;
	height: 20%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 30px;
	margin: 0% 0% 0% -8%;
}

.botaoCriptografar {
	width: 328px;
	height: 67px;
	color: var(--cor-fonte-botao-criptografar);
	background-color: var(--cor-fonte-textarea-esquerda);
	border: 1px solid var(--cor-fonte-textarea-esquerda);
	border-radius: 24px;
	font-size: 16px;
	font-weight: 400;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}

.botaoCriptografar:hover {
	background-color: var(--cor-hover-botao-criptografar);
	color: var(--cor-fonte-textarea-esquerda);
}

.botaoCriptografar:active {
	transform: scale(0.95);
}

.botaoDescriptografar {
	width: 328px;
	height: 67px;
	color: var(--cor-fonte-textarea-esquerda);
	background-color: var(--cor-hover-botao-criptografar);
	border: 1px solid var(--cor-fonte-textarea-esquerda);
	border-radius: 24px;
	font-size: 16px;
	font-weight: 400;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}

.botaoDescriptografar:hover {
	background-color: var(--cor-fonte-textarea-esquerda);
	color: var(--cor-fonte-botao-criptografar);
}

.botaoDescriptografar:active {
	transform: scale(0.95);
}

.conteudo__direita {
	width: 25%;
	height: 100%;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
	background-color: var(--cor-fonte-botao-criptografar);
	border-radius: 20px;
}

.conteudo__direita__texto {
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 50px 10px;
    display: none;
}

.saidaTexto {
	width: 98%;
    height: 70%;
    background-color: var(--cor-fonte-botao-criptografar);
    font-size: 15px;
    border: none;
    outline: none;
    resize: none;
    padding: 10px;
    font-size: 25px;
	color: var(--cor-fonte-textarea-esquerda);
}

.botaoCopiar {
	width: 290px;
	height: 67px;
	color: var(--cor-fonte-textarea-esquerda);
	background: none;
	border: 1px solid var(--cor-fonte-textarea-esquerda);
	border-radius: 24px;
	font-size: 16px;
	font-weight: 400;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}

.botaoCopiar:hover {
	background-color: var(--cor-fonte-textarea-esquerda);
	color: var(--cor-fonte-botao-criptografar);
}

.botaoCopiar:active {
	transform: scale(0.95);
}

.conteudo__direita__textoVazio {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 10px;
	padding: 20px;
}

.imagemPersonagem {
	width: 80%;
}

.conteudo__direita__titulo {
	text-align: center;
	font-size: 24px;
	color: var(--cor-fonte-titulo-textarea-direita);
}

.no-content h3, p {
	text-align: center;
}

.conteudo__direita__subtitulo {
	text-align: center;
	font-size: 16px;
	color: var(--cor-fonte-subtitulo-textarea-direita);
}

.rodape {
	margin-top: auto;
    padding: 24px;
    color: var(--cor-fonte-botao-criptografar);
    background-color: var(--cor-fonte-textarea-esquerda);
    text-align: center;
    font-family: var(--fonte-primaria);
    font-size: 1.5rem;
    font-weight: 400;
}

.rodape__conteudo {
	display: flex;
	justify-content: center;
	gap: 5px;
}

.rodape__conteudo > a {
	color: white;
	text-decoration: none;
	font-weight: bold;
}

.rodape__conteudo > a:hover {
	text-decoration: underline;
}

/***Área responsiva***/

@media only screen and (max-width: 1000px) {
	html, body {
		min-width: 100vw;
		min-height: 100%;
	}

	.cabecalho__logo {
		margin-left: 1px;
	}

	.conteudo {
   		flex-direction: column;
		justify-content: flex-start;
		height: max-content;
	}

	.conteudo__esquerda {
		width: 90%;
		height: fit-content;
		gap: 5px;
	}

	.conteudo__esquerda__informacao {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		margin: 0% 15% 0% -50%;
	}

	.conteudo__direita {
		width: 90%;
		height: fit-content;
	}

	.conteudo__direita__textoVazio {
		height: fit-content;
	}

	.imagemPersonagem {
		display: none;
	}

	.conteudo__direita__texto {
		height: auto;
		padding: 10px;
		justify-content: center;
		gap: 5;
	}

	.saidaTexto {
		height: 300px;
	}

	.botaoCopiar {
		width: 150px;
	}
}

@media only screen and (max-width: 700px) {
	.cabecalho__logo {
		margin-left: 1px;
	}
	
	.conteudo {
		padding-bottom: 10px;
	}

	.conteudo__esquerda__informacao {
		margin: 0% 40% 0% -5%;
	}
}	
